In [1]:
import pandas as  pd

In [8]:
data=pd.read_csv("train.csv",usecols=["X1","X2","X3","X4","X5",X])
data.head()

  X1  X2 X3 X4
0  v  at  a  d
1  t  av  e  d
2  w   n  c  d
3  t   n  f  d
4  v   n  f  d

In [21]:
for feature in  data.columns:
    print("{}  {}".format(feature,len(data[feature].unique())))

X1  27
X2  44
X3  7
X4  4

In [30]:
for feature in data.columns:
    print("{} {}".format(feature,data[feature].unique()))

X1 ['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
X2 ['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
X3 ['a' 'e' 'c' 'f' 'd' 'b' 'g']
X4 ['d' 'b' 'c' 'a']
X5 ['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
X6 ['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']

In [38]:
data.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
i       25
k       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

In [42]:
top_10=[label for label in data.X2.value_counts().sort_values(ascending=False).head(10).index]
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [43]:
import numpy as np
for label in top_10:
    data[label]=np.where(data["X2"]==label,1,0)

In [44]:
data

     X1  X2 X3 X4  X5 X6  as  ae  ai  m  ak  r  n  s  f  e
0     v  at  a  d   u  j   0   0   0  0   0  0  0  0  0  0
1     t  av  e  d   y  l   0   0   0  0   0  0  0  0  0  0
2     w   n  c  d   x  j   0   0   0  0   0  0  1  0  0  0
3     t   n  f  d   x  l   0   0   0  0   0  0  1  0  0  0
4     v   n  f  d   h  d   0   0   0  0   0  0  1  0  0  0
...  ..  .. .. ..  .. ..  ..  ..  .. ..  .. .. .. .. .. ..
4204  s  as  c  d  aa  d   1   0   0  0   0  0  0  0  0  0
4205  o   t  d  d  aa  h   0   0   0  0   0  0  0  0  0  0
4206  v   r  a  d  aa  g   0   0   0  0   0  1  0  0  0  0
4207  r   e  f  d  aa  l   0   0   0  0   0  0  0  0  0  1
4208  r  ae  c  d  aa  g   0   1   0  0   0  0  0  0  0  0

[4209 rows x 16 columns]